*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
    font-size: 2rem;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

a, a:visited, a:active{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
}

.full-body{
    min-height: 100vh;

}
.full-app{
    height: 100vh;
}